<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="product__horizontal.css">
</head>
<div class="product__horizontal__contain">
    <img class="product__horizontal__image" src="https://via.placeholder.com/80x80" />
    <div class="product__horizontal__content">
        <div class="product__horizontal__content">
            Canon EOS 1500D DSLR Camera Body+ 18-55 mm</div>
        <div class="product__horizontal__content__price">
            <div class="product__horizontal__content__price__text">
                $1,500</div>
        </div>
    </div>
</div>

</html>