#container-forget-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-form-forget-password {
    width: 424px;
    /* height: 408px; */
    padding: 32px;
    border-radius: 4px;
    border: 1px solid var(--gray-100, #E4E7E9);
    background: var(--gray-00, #FFF);
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);

}

.form-forget-password {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.infor-heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 80px;
}

.heading__title {
    color: var(--gray-900, #191C1F);
    text-align: center;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
}

.heading__infor-description {
    color: var(--gray-600, #5F6C72);
    text-align: center;
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.infor-input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 72px;

}

.input-field__label {

    color: var(--gray-900, #191C1F);
    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.infor-input__text {
    height: 44px;
    padding: 2px 10px;
    border-radius: 2px;
    border: 1px solid var(--gray-100, #E4E7E9);
    background: var(--gray-00, #FFF);
}

/* .container-form-forget-password__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0px 24px;
    gap: 8px;
    border-radius: 2px;
    background: var(--primary-500, #FA8232);
} */
.infor-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0px 24px;
    gap: 8px;
    border-radius: 2px;
    background: var(--primary-500, #FA8232);


    color: var(--gray-00, #FFF);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 342.857% */
    letter-spacing: 0.168px;
    text-transform: uppercase;
}

/* 
.container-form-forget-password__button a {
    color: var(--gray-00, #FFF);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.168px;
    text-transform: uppercase;
} */

.button__icon {
    width: 20px;
    height: 20px;
}

.Q-A-information {
    width: 218px;
    height: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.information__signIn-signUp {
    height: 20px;
    display: flex;
    /* align-items: flex-start; */
    gap: 6px;
}

.information__signIn-signUp span {
    color: var(--gray-600, #5F6C72);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.information__signIn-signUp a {
    color: var(--secondary-500, #2DA5F3);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.line {
    width: 358px;
    border: 1px solid var(--gray-100, #E4E7E9);
    background: var(--gray-00, #FFF);
}

.infor__instruct {
    color: var(--gray-700, #475156);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.instruct__service {
    color: var(--primary-500, #FA8232);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

/* ------------------------------------------------------- */

@media screen and (max-width:1920px) {

    .container-form-forget-password,
    .Q-A-information,
    .line {
        max-width: 100%;
    }
}