@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-width: 1462px;
  min-height: 100vh;
  margin: 0;
  font-family: "Public Sans", Helvetica;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Go to top button */

.go-to-top-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2%;
  right: 2%;
  padding: 5px 7px;
  border: none;
  border-radius: 30px;
  background-color: var(--secondary-400);
  animation: pulse 2s infinite;
  cursor: pointer;
}

.go-to-top-btn img {
  width: 30px;
  height: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* POP UP */
.overlay-unlogged {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.overlay-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: fadeIn 1s ease-in-out
}

.overlay-popup .popup {
  background: #fff;
  padding: 20px;
  min-width: 400px;
  min-height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;

}

.overlay-popup .popup p {
  font-family: var(--heading-01-font-family);
  font-weight: var(--heading-01-font-weight);
  color: var(--gray-700);
  white-space: nowrap;
  font-size: var(--heading-01-font-size);
  letter-spacing: var(--heading-01-letter-spacing);
  line-height: var(--heading-01-line-height);
  font-style: var(--heading-01-font-style);
}

.overlay-popup .button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-popup .button-container button {
  padding: 5px 30px;
  margin: 2px 7px;
  border: none;
  border-radius: 5px;
  font-family: var(--label-01-font-family);
  font-weight: var(--label-01-font-weight);
  color: var(--gray-00);
  white-space: nowrap;
  font-size: var(--label-01-font-size);
  letter-spacing: var(--label-01-letter-spacing);
  line-height: var(--label-01-line-height);
  font-style: var(--label-01-font-style);

}

.overlay-popup .button-container .continue {
  background-color: var(--success-500);
}

.overlay-popup .button-container .cancel {
  background-color: var(--danger-500);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* Ban đầu, không hiển thị (độ trong suốt là 0) */
  }

  100% {
    opacity: 1;
    /* Kết thúc, hiển thị đầy đủ (độ trong suốt là 1) */
  }
}



@import url("https://fonts.googleapis.com/css?family=Public+Sans:400,700");