/* Thiết lập reset cho các thành phần HTML cơ bản */
html,
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Thiết lập màu nền và phông chữ cơ bản cho trang */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* navigation bar css    */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar__top {
    display: flex;
    width: 100VW;
    padding: 20px 300px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-700, #1B6392);
}

.navbar__bottom {
    display: flex;
    width: 100VW;
    padding: 16px 300px;
    justify-content: space-between;
    align-items: center;
    background: var(--gray-00, #FFF);
    box-shadow: 0px -1px 0px 0px #E4E7E9 inset;
}