   .product-item {
       position: relative;
       justify-self: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 15px 5px;
       margin: 2px;
       width: 200px;
       height: 320px;
       background-color: var(--gray-00);
       border: 1px solid var(--gray-100);
       border-radius: 3px;
       cursor: pointer;
       overflow: hidden;
   }


   .product-item .overlap-group {
       width: 180px;
       height: 172px;
   }

   .product-item .product-image {
       width: 176px;
       height: 172px;
   }

   .product-item .product-content {
       width: 180px;
       padding: 0 4px;
   }

   .product-item .product-content>div {
       margin-top: 10px;
   }

   .product-item .product-rate {
       display: flex;
       align-items: center;
       justify-content: flex-start;
   }

   .product-item .product-rate>div {
       margin-right: 10px;
   }

   .product-item .icondetail-star {
       width: 12px;
       height: 12px;
   }

   .product-item .product-rate-number {
       font-size: var(--body-XS-400-font-size);
       color: var(--gray-500);
       white-space: nowrap;
   }

   .product-item .product-name {
       font-size: var(--body-small-600-size);
       font-weight: bold;
   }

   .product-item .product-price {
       display: flex;
       align-items: center;
       font-size: var(--body-tiny-500-font-size);
       color: var(--secondary-500);
   }

   .product-item .product-price .old-product-price {
       font-size: 10px;
       color: var(--gray-500);
       text-decoration: line-through;
       margin-right: 5px;
   }

   .product-item .product-price .new-product-price {
       font-size: var(--body-tiny-500-font-size);
       color: #ff0000;
       font-weight: bold;
   }

   /*product hover effect */
   .product-item:hover {
       animation: borderEffect 0.4s forwards;
   }

   @keyframes borderEffect {
       from {
           box-shadow: none;
       }

       to {
           box-shadow: 0px 0px 10px var(--secondary-500);
       }
   }

   .product-item .product-image {
       z-index: 1;
       transition: transform 0.3s;
   }

   .product-item:hover .product-image {
       z-index: 2;
       animation: goUp 0.4s forwards;
   }

   @keyframes goUp {
       from {
           transform: translateY(0%);
       }

       to {
           transform: translateY(-7%);
       }
   }