.container-sign-in-and-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-sign-in-and-sign-up {
    width: 424px;
    /* height: 744px; */

    border-radius: 4px;
    border: 1px solid var(--gray-100, #E4E7E9);
    background: var(--gray-00, #FFF);

    /* Dropdown Shadow */
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
}

.header-sign-in-and-sign-up {
    display: flex;
}

.header-sign-in,
.header-sign-up {
    flex: 1;
    color: var(--gray-500, #77878F);
    text-align: center;

    /* Body/XL/600 */
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */

    padding: 16px 0px;
}

.container-sign-up {
    padding: 24px 32px;
}

.content-sign-up {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field input {
    border-radius: 2px;
    border: 1px solid var(--gray-100, #E4E7E9);
    background: var(--gray-00, #FFF);
    height: 44px;
    padding: 16px;
}

.field-checkbox {
    display: flex;
    gap: 8px;
}

.field-checkbox input {
    height: 15px
}

.field-checkbox p {
    color: var(--gray-700, #475156);

    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}


.field-checkbox label {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    background: var(--primary-500, #FA8232);
}

.field.password input {
    padding: 16px 40px 16px 16px;

}

.field.password {
    position: relative;

}

.eye-password {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: calc(20px + 16px + 8px - 5px)
}


.field label {
    color: var(--gray-900, #191C1F);

    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.container-sign-in-and-sign-up .field {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.term-condition {
    color: var(--secondary-500, #2DA5F3);

    /* Body/Small/500 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.button {
    position: relative;
    margin-top: 32px;

}

.button-sign-up-sign-in {
    border-radius: 2px;
    background: var(--primary-500, #FA8232);
    width: 360px;
    height: 48px;
    color: var(--gray-00, #FFF);
    /* Heading/07 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 342.857% */
    letter-spacing: 0.168px;
    text-transform: uppercase;
}

.button img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 8px;
    position: absolute;
    top: 17px;
}