:root {
  --primary-color: rgba(0, 168, 240, 1);
  --secondary-color: rgba(255, 255, 255, 1);
  --primary-border-color: rgba(31, 178, 241, 1);
  --text-search-color: rgba(118, 135, 143, 1);
  --body-tiny-600-font-family: "PublicSans-SemiBold", Helvetica;
  --body-tiny-600-font-weight: 600;
  --body-tiny-600-font-size: 12px;
  --body-tiny-600-letter-spacing: 0px;
  --body-tiny-600-line-height: 16px;
  --body-tiny-600-font-style: normal;
  --gray-900: rgba(25, 28, 31, 1);
  --gray-800: rgba(48, 54, 57, 1);
  --gray-700: rgba(71, 81, 86, 1);
  --gray-600: rgba(95, 108, 114, 1);
  --gray-500: rgba(119, 135, 143, 1);
  --gray-400: rgba(146, 159, 165, 1);
  --gray-300: rgba(173, 183, 188, 1);
  --gray-200: rgba(201, 207, 210, 1);
  --gray-100: rgba(228, 231, 233, 1);
  --gray-50: rgba(242, 244, 245, 1);
  --gray-00: rgba(255, 255, 255, 1);
  --primary-900: rgba(51, 27, 10, 1);
  --primary-800: rgba(102, 53, 20, 1);
  --primary-700: rgba(153, 80, 31, 1);
  --primary-600: rgba(222, 115, 45, 1);
  --primary-500: rgba(250, 130, 50, 1);
  --primary-400: rgba(255, 157, 92, 1);
  --primary-300: rgba(255, 182, 133, 1);
  --primary-200: rgba(255, 206, 173, 1);
  --primary-100: rgba(255, 231, 214, 1);
  --primary-50: rgba(255, 243, 235, 1);
  --secondary-900: rgba(9, 33, 49, 1);
  --secondary-800: rgba(18, 66, 97, 1);
  --secondary-700: rgba(27, 99, 146, 1);
  --secondary-600: rgba(36, 132, 194, 1);
  --secondary-500: rgba(45, 165, 243, 1);
  --secondary-400: rgba(87, 183, 245, 1);
  --secondary-300: rgba(129, 201, 248, 1);
  --secondary-200: rgba(171, 219, 250, 1);
  --secondary-100: rgba(213, 237, 253, 1);
  --secondary-50: rgba(234, 246, 254, 1);
  --success-900: rgba(9, 36, 7, 1);
  --success-800: rgba(18, 71, 14, 1);
  --success-700: rgba(27, 107, 22, 1);
  --success-600: rgba(36, 142, 29, 1);
  --success-500: rgba(45, 178, 36, 1);
  --success-400: rgba(87, 193, 80, 1);
  --success-300: rgba(129, 209, 124, 1);
  --success-200: rgba(171, 224, 167, 1);
  --success-100: rgba(213, 240, 211, 1);
  --success-50: rgba(234, 247, 233, 1);
  --warning-900: rgba(47, 40, 2, 1);
  --warning-800: rgba(94, 80, 5, 1);
  --warning-700: rgba(141, 120, 7, 1);
  --warning-600: rgba(188, 160, 10, 1);
  --warning-500: rgba(235, 200, 12, 1);
  --warning-400: rgba(239, 211, 61, 1);
  --warning-300: rgba(243, 222, 109, 1);
  --warning-200: rgba(247, 233, 158, 1);
  --warning-100: rgba(251, 244, 206, 1);
  --warning-50: rgba(253, 250, 231, 1);
  --danger-900: rgba(48, 18, 18, 1);
  --danger-800: rgba(95, 35, 35, 1);
  --danger-700: rgba(143, 53, 53, 1);
  --danger-600: rgba(190, 70, 70, 1);
  --danger-500: rgba(238, 88, 88, 1);
  --danger-400: rgba(241, 121, 121, 1);
  --danger-300: rgba(245, 155, 155, 1);
  --danger-200: rgba(248, 188, 188, 1);
  --danger-100: rgba(252, 222, 222, 1);
  --danger-50: rgba(253, 238, 238, 1);
  --display-01-font-family: "PublicSans-SemiBold", Helvetica;
  --display-01-font-weight: 600;
  --display-01-font-size: 64px;
  --display-01-letter-spacing: 0px;
  --display-01-line-height: 72px;
  --display-01-font-style: normal;
  --display-02-font-family: "PublicSans-SemiBold", Helvetica;
  --display-02-font-weight: 600;
  --display-02-font-size: 56px;
  --display-02-letter-spacing: 0px;
  --display-02-line-height: 64px;
  --display-02-font-style: normal;
  --display-03-font-family: "PublicSans-SemiBold", Helvetica;
  --display-03-font-weight: 600;
  --display-03-font-size: 48px;
  --display-03-letter-spacing: 0px;
  --display-03-line-height: 56px;
  --display-03-font-style: normal;
  --display-04-font-family: "PublicSans-SemiBold", Helvetica;
  --display-04-font-weight: 600;
  --display-04-font-size: 40px;
  --display-04-letter-spacing: 0px;
  --display-04-line-height: 48px;
  --display-04-font-style: normal;
  --display-05-font-family: "PublicSans-SemiBold", Helvetica;
  --display-05-font-weight: 600;
  --display-05-font-size: 36px;
  --display-05-letter-spacing: 0px;
  --display-05-line-height: 44px;
  --display-05-font-style: normal;
  --heading-01-font-family: "PublicSans-SemiBold", Helvetica;
  --heading-01-font-weight: 600;
  --heading-01-font-size: 32px;
  --heading-01-letter-spacing: 0px;
  --heading-01-line-height: 40px;
  --heading-01-font-style: normal;
  --heading-02-font-family: "PublicSans-SemiBold", Helvetica;
  --heading-02-font-weight: 600;
  --heading-02-font-size: 28px;
  --heading-02-letter-spacing: 0px;
  --heading-02-line-height: 32px;
  --heading-02-font-style: normal;
  --heading-03-font-family: "PublicSans-SemiBold", Helvetica;
  --heading-03-font-weight: 600;
  --heading-03-font-size: 24px;
  --heading-03-letter-spacing: 0px;
  --heading-03-line-height: 32px;
  --heading-03-font-style: normal;
  --heading-06-font-family: "PublicSans-Bold", Helvetica;
  --heading-06-font-weight: 700;
  --heading-06-font-size: 16px;
  --heading-06-letter-spacing: 0.19200000762939454px;
  --heading-06-line-height: 56px;
  --heading-06-font-style: normal;
  --heading-07-font-family: "PublicSans-Bold", Helvetica;
  --heading-07-font-weight: 700;
  --heading-07-font-size: 14px;
  --heading-07-letter-spacing: 0.1680000066757202px;
  --heading-07-line-height: 48px;
  --heading-07-font-style: normal;
  --label-01-font-family: "PublicSans-Medium", Helvetica;
  --label-01-font-weight: 500;
  --label-01-font-size: 18px;
  --label-01-letter-spacing: 0px;
  --label-01-line-height: 28px;
  --label-01-font-style: normal;
  --label-02-font-family: "PublicSans-Medium", Helvetica;
  --label-02-font-weight: 500;
  --label-02-font-size: 16px;
  --label-02-letter-spacing: 0px;
  --label-02-line-height: 24px;
  --label-02-font-style: normal;
  --label-03-font-family: "PublicSans-Medium", Helvetica;
  --label-03-font-weight: 500;
  --label-03-font-size: 14px;
  --label-03-letter-spacing: 0px;
  --label-03-line-height: 20px;
  --label-03-font-style: normal;
  --label-04-font-family: "PublicSans-Medium", Helvetica;
  --label-04-font-weight: 500;
  --label-04-font-size: 12px;
  --label-04-letter-spacing: 0px;
  --label-04-line-height: 150%;
  --label-04-font-style: normal;
  --label-05-font-family: "PublicSans-Medium", Helvetica;
  --label-05-font-weight: 500;
  --label-05-font-size: 11px;
  --label-05-letter-spacing: 0px;
  --label-05-line-height: 16px;
  --label-05-font-style: normal;
  --body-XXL-400-font-family: "PublicSans-Regular", Helvetica;
  --body-XXL-400-font-weight: 400;
  --body-XXL-400-font-size: 24px;
  --body-XXL-400-letter-spacing: 0px;
  --body-XXL-400-line-height: 32px;
  --body-XXL-400-font-style: normal;
  --body-XL-400-font-family: "PublicSans-Regular", Helvetica;
  --body-XL-400-font-weight: 400;
  --body-XL-400-font-size: 20px;
  --body-XL-400-letter-spacing: 0px;
  --body-XL-400-line-height: 28px;
  --body-XL-400-font-style: normal;
  --body-XL-500-font-family: "PublicSans-Medium", Helvetica;
  --body-XL-500-font-weight: 500;
  --body-XL-500-font-size: 20px;
  --body-XL-500-letter-spacing: 0px;
  --body-XL-500-line-height: 28px;
  --body-XL-500-font-style: normal;
  --body-XL-600-font-family: "PublicSans-SemiBold", Helvetica;
  --body-XL-600-font-weight: 600;
  --body-XL-600-font-size: 20px;
  --body-XL-600-letter-spacing: 0px;
  --body-XL-600-line-height: 28px;
  --body-XL-600-font-style: normal;
  --body-large-400-font-family: "PublicSans-Regular", Helvetica;
  --body-large-400-font-weight: 400;
  --body-large-400-font-size: 18px;
  --body-large-400-letter-spacing: 0px;
  --body-large-400-line-height: 24px;
  --body-large-400-font-style: normal;
  --body-large-500-font-family: "PublicSans-Medium", Helvetica;
  --body-large-500-font-weight: 500;
  --body-large-500-font-size: 18px;
  --body-large-500-letter-spacing: 0px;
  --body-large-500-line-height: 24px;
  --body-large-500-font-style: normal;
  --body-large-600-font-family: "PublicSans-SemiBold", Helvetica;
  --body-large-600-font-weight: 600;
  --body-large-600-font-size: 18px;
  --body-large-600-letter-spacing: 0px;
  --body-large-600-line-height: 24px;
  --body-large-600-font-style: normal;
  --body-medium-400-font-family: "PublicSans-Regular", Helvetica;
  --body-medium-400-font-weight: 400;
  --body-medium-400-font-size: 16px;
  --body-medium-400-letter-spacing: 0px;
  --body-medium-400-line-height: 24px;
  --body-medium-400-font-style: normal;
  --body-medium-500-font-family: "PublicSans-Medium", Helvetica;
  --body-medium-500-font-weight: 500;
  --body-medium-500-font-size: 16px;
  --body-medium-500-letter-spacing: 0px;
  --body-medium-500-line-height: 24px;
  --body-medium-500-font-style: normal;
  --body-medium-600-font-family: "PublicSans-SemiBold", Helvetica;
  --body-medium-600-font-weight: 600;
  --body-medium-600-font-size: 16px;
  --body-medium-600-letter-spacing: 0px;
  --body-medium-600-line-height: 24px;
  --body-medium-600-font-style: normal;
  --body-small-400-font-family: "PublicSans-Regular", Helvetica;
  --body-small-400-font-weight: 400;
  --body-small-400-font-size: 14px;
  --body-small-400-letter-spacing: 0px;
  --body-small-400-line-height: 20px;
  --body-small-400-font-style: normal;
  --body-small-500-font-family: "PublicSans-Medium", Helvetica;
  --body-small-500-font-weight: 500;
  --body-small-500-font-size: 14px;
  --body-small-500-letter-spacing: 0px;
  --body-small-500-line-height: 20px;
  --body-small-500-font-style: normal;
  --body-small-600-font-family: "PublicSans-SemiBold", Helvetica;
  --body-small-600-font-weight: 600;
  --body-small-600-font-size: 14px;
  --body-small-600-letter-spacing: 0px;
  --body-small-600-line-height: 20px;
  --body-small-600-font-style: normal;
  --body-tiny-400-font-family: "PublicSans-Regular", Helvetica;
  --body-tiny-400-font-weight: 400;
  --body-tiny-400-font-size: 12px;
  --body-tiny-400-letter-spacing: 0px;
  --body-tiny-400-line-height: 16px;
  --body-tiny-400-font-style: normal;
  --body-tiny-500-font-family: "PublicSans-Medium", Helvetica;
  --body-tiny-500-font-weight: 500;
  --body-tiny-500-font-size: 12px;
  --body-tiny-500-letter-spacing: 0px;
  --body-tiny-500-line-height: 16px;
  --body-tiny-500-font-style: normal;
  --body-tiny-600-font-family: "PublicSans-SemiBold", Helvetica;
  --body-tiny-600-font-weight: 600;
  --body-tiny-600-font-size: 12px;
  --body-tiny-600-letter-spacing: 0px;
  --body-tiny-600-line-height: 16px;
  --body-tiny-600-font-style: normal;
  --body-XS-400-font-family: "PublicSans-Regular", Helvetica;
  --body-XS-400-font-weight: 400;
  --body-XS-400-font-size: 11px;
  --body-XS-400-letter-spacing: 0px;
  --body-XS-400-line-height: 12px;
  --body-XS-400-font-style: normal;
  --body-XS-500-font-family: "PublicSans-Medium", Helvetica;
  --body-XS-500-font-weight: 500;
  --body-XS-500-font-size: 11px;
  --body-XS-500-letter-spacing: 0px;
  --body-XS-500-line-height: 12px;
  --body-XS-500-font-style: normal;
  --body-XS-600-font-family: "PublicSans-SemiBold", Helvetica;
  --body-XS-600-font-weight: 600;
  --body-XS-600-font-size: 11px;
  --body-XS-600-letter-spacing: 0px;
  --body-XS-600-line-height: 12px;
  --body-XS-600-font-style: normal;
  --dropdown-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
}